.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.text-reader-div-inside {
  bottom: center;
  font-size: 4em;
  opacity: 1;
  background-size: 100%;
  width: 2em;
  height: 2em;
  margin: auto;
  margin-top: 0.4em;
}

@media only screen and (max-width: 468px) {
	
}
@media only screen and (min-width: 468px) and (max-width: 666px) {
	
}
@media only screen and (min-width: 667px) and (max-width: 766px)  {
	
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
	
}

@media only screen and (min-width: 1920px) {

}