
.stepper-button {
  font-size: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em !important;
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;

}

.stepper-button > .material-icons {
  font-size: 1.2em !important;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 6em;
  width: 0.5em;
  border: 1px solid;
  border-radius: 20em;
  z-index: 999 !important;
  background-color: #333;
  right: 3em;
  top: 2em;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}


.fadeslower-enter-active, .fadeslower-leave-active {
  transition: opacity .30s;
}

.fadeslower-enter, .fadeslower-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.ui-input-box-div {
  width: 100%;
  margin: 0;
  max-width: 100%;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: .67857143em 1em;
  background: #e8f6fb;
  border: 2px solid rgba(30, 30, 30, 0.2);
  color: rgba(5, 8, 40, 0.9);
  border-radius: .28571429rem;
  -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
  transition: border-color .1s ease, -webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease, border-color .1s ease;
  transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-input-box-div-is-danger {
  background: #ffcbc0 !important;
}

.is-danger {
  color: #ff3860;
  font-size: 0.95rem;
  margin-top: .25rem;
}

.label {
  color: #363636;
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 0.6em;
}

@media only screen and (max-width: 468px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: center;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }

  .div-close-button {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
  }

  .div-remote-input {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5em;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.6em;
    line-height: 1.2em;
    margin-top: 1em;
  }

  .close {
    font-size: 0.3em;
    opacity: 0.3;
    z-index: 999 !important;
  }

  .ui-input-box-div-text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 468px) and (max-width: 666px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: center;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }


  .div-close-button {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.6em;
    line-height: 1.2em;
    margin-top: 1em;
  }

  .close {
    font-size: 0.3em;
    opacity: 0.3;
    z-index: 999 !important;
  }

  .ui-input-box-div-text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 667px) and (max-width: 766px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: center;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }


  .div-close-button {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.6em;
    margin-top: 1em;
    margin-left: 5em;
    line-height: 1.2em;
  }

  .close {
    font-size: 0.35em;
    opacity: 0.3;
    z-index: 999 !important;
  }

  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 6em;
    width: 0.5em;
    border: 1px solid;
    border-radius: 20em;
    z-index: 999 !important;
    background-color: #333;
    right: 3em;
    top: 1.5em;
  }

  .ui-input-box-div-text {
    font-size: 1.3em;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: space-between;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }


  .div-close-button {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }


  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.6em;
    margin-top: 1em;
    margin-left: 5em;
    line-height: 1.2em;
  }

  .close {
    font-size: 0.5em;
    opacity: 0.3;
    z-index: 999 !important;
  }

  .ui-input-box-div-text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
  }
  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: space-between;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }


  .div-close-button {
    margin-right: 3em;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.75em;
    margin-top: 1em;
    margin-left: 5em;
    line-height: 1.3em;
  }

  .close {
    font-size: 0.5em;
    opacity: 0.3;
    z-index: 999 !important;
  }

  .ui-input-box-div-text {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
  }

  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: space-between;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }


  .div-close-button {
    margin-right: 3em;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.75em;
    margin-top: 1em;
    margin-left: 5em;
    line-height: 1.3em;
  }

  .close {
    font-size: 0.5em;
    opacity: 0.3;
    z-index: 999 !important;;
  }

  .ui-input-box-div-text {
    max-width: 368px;
    font-size: 0.69em !important;
    height: 153px;
    width: 590px;
    min-width: 368px;
  }
}

@media only screen and (min-width: 1920px) {
  .button-close-class{
    -moz-appearance: none;
    background: rgb(97, 31, 105) none repeat scroll 0px 0px;
    border: medium none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.28571;
    letter-spacing: 0.8px;
    font-size: 1.875rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    display: inline-block;
    width: auto;
    transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, color 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s, background 420ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    white-space: nowrap;
    flex-basis: auto;
  }

  .main-div-top-banner {
    line-height: 2.6em;
    border: 0px solid;
    position: sticky;
    top: 0px;
    margin: auto auto 1em;
    width: 100%;
    min-height: 124px;
    font-size: 3em;
    background: white none repeat scroll 0% 0%;
    justify-content: space-between;
    z-index: 499;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0px 0px rgba(50, 50, 93, 0.1), 30px 5px 50px rgba(0, 0, 0, 0.07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 0.15s;
  }


  .div-close-button {
    margin-right: 3em;
  }

  .div-remote-input {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 5em;
  }

  .remote-field {
    margin: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .image-icon-delete-button {
    max-width: 2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .position-div-text {
    font-size: 0.7em;
    margin-top: 1.3em;
    margin-left: 5em;
    line-height: 1.3em;
  }

  .close {
    font-size: 0.5em;
    opacity: 0.3;
    z-index: 999 !important;
  }

  .ui-input-box-div-text {
    max-width: 368px;
    font-size: 0.69em !important;
    height: 153px;
    width: 590px;
    min-width: 368px;
  }
}
