@media only screen and (max-width: 468px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}
@media only screen and (min-width: 468px) and (max-width: 666px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}
@media only screen and (min-width: 667px) and (max-width: 766px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}
@media only screen and (min-width: 1920px) {
	.image-collapsed-company-version {
		max-width: 273px !important;
		margin: auto;
	}
}

