
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.text-reader-div-inside {
  bottom: center;
  font-size: 4em;
  opacity: 1;
  background-size: 100%;
  width: 2em;
  height: 2em;
  margin: auto;
  margin-top: 0.4em;
}


@media only screen and (max-width: 468px) {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 100%;
	}
	.label {
		font-size: 2em !important;
	}
}

.file-upload-form, .image-preview {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 20px;
}
img.preview {
    width: 200px;
    background-color: white;
    border: 1px solid #DDD;
    padding: 5px;
}


@media only screen and (min-width: 468px) and (max-width: 666px) {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 100%;
	}
	.label {
		font-size: 2em !important;
	}
}
@media only screen and (min-width: 667px) and (max-width: 766px)  {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 100%;
	}
	.label {
		font-size: 2em !important;
	}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 60%;
	}
	.label {
		font-size: 2em !important;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 60%;
	}
	.label {
		font-size: 2em !important;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 60%;
	}
	.label {
		font-size: 2em !important;
	}
}

@media only screen and (min-width: 1920px) {
	.apply-form-first-step-sub-div {
		display: flex;
		margin: auto;
		border: 3px solid;
		border-radius: 6em;
		box-shadow: -20px 20px 0px 0px rgba(0,0,0,0.75);
		flex-direction: column; 
		min-width: 60%;
	}
	.label {
		font-size: 2em !important;
	}
}