.contact-button {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  height: 49px;
  border: 2px solid blue !important;
  font-size: 1.4em;
  background-color: white;
  color: black;
  -webkit-box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -12px 12px 0px 0px rgba(0, 0, 0, 0.75);
  text-transform: full-width;
  font-family: 'Raleway', sans-serif;
  transition: 0.3s ease-in-out;
  padding: 20px 60px 20px 55px;
  text-shadow: 1px -1px 0px #030303;
  -webkit-transition-property: text-shadow, box-shadow, letter-spacing, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: text-shadow, box-shadow, letter-spacing, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: text-shadow, box-shadow, letter-spacing, background-color, box-shadow, transform;
  transition-property: text-shadow, box-shadow, letter-spacing, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  letter-spacing: 0px;
}

.ui-input-box-div-text {
  font-size: 1.3em;
}

.ui-input-box-div {
  width: 100%;
  margin: 0;
  max-width: 100%;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: .67857143em 1em;
  background: #e8f6fb;
  border: 2px solid rgba(30, 30, 30, 0.2);
  color: rgba(5, 8, 40, 0.9);
  border-radius: .28571429rem;
  -webkit-transition: border-color .1s ease, -webkit-box-shadow .1s ease;
  transition: border-color .1s ease, -webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease, border-color .1s ease;
  transition: box-shadow .1s ease, border-color .1s ease, -webkit-box-shadow .1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.spinner-class {
	display: box;
	margin-top: 5em;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.1em !important;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}


.text-reader-div {
  max-width: 21em;
  margin: auto;
}

.text-reader-div-inside {
  bottom: center;
  font-size: 4em;
  opacity: 1;
  background-size: 100%;
  width: 2em;
  height: 2em;
  margin: auto;
  margin-top: 0.4em;
}

.next-main-div-button {
  background-color: #3383c8;
  color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.only-next {
  background-color: transparent;
  border: none !important;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  margin: auto !important;
  justify-content: center;
}

@media only screen and (max-width: 468px) {
  .text-reader-div-inside {
    bottom: center;
    font-size: 4em;
    opacity: 1;
    background-size: 100%;
    width: 1.3em;
    height: 1.3em;
    margin: auto;
    margin-top: 0.4em;
  }

  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 1.3em;
    height: 1.3em;
  }

  .apply-button-table-view {
    width: 100%;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}

@media only screen and (min-width: 468px) and (max-width: 666px) {
  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 2em;
    height: 2em;
  }

  .apply-button-table-view {
    width: 100%;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 766px) {
  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 2em;
    height: 2em;
  }

  .apply-button-table-view {
    width: 100%;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 2em;
    height: 2em;
  }

  .apply-button-table-view {
    width: 100%;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 2em;
    height: 2em;
  }

  .apply-button-table-view {
    width: 100%;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 2em;
    height: 2em;
  }

  .apply-button-table-view {
    width: 100%;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}

@media only screen and (min-width: 1920px) {
  .logo-uploaded-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.75) -24px 23px 0px 0px;
    width: 2em;
    height: 2em;
  }

  .apply-button-table-view {
    width: 11em;
    height: 4em;
    font-size: 24px;
    border-radius: 26px;
  }
}

.main-div-style {
  margin: 3em 3em 3em 3em;
}

.company-image-leading-button {
  height: 15% !important;
  font-size: 1.7em !important;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.company-image-main-image {
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;
}


@media only screen and (max-width: 468px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 100%;
  }

  .stepper-button {
    font-size: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }

  .label {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 468px) and (max-width: 666px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 100%;
  }

  .stepper-button {
    font-size: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }

  .label {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 667px) and (max-width: 766px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 100%;
  }

  .stepper-button {
    font-size: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }


  .label {
    font-size: 2em !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 60%;
  }

  .stepper-button {
    font-size: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }

  .label {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 60%;
  }

  .stepper-button {
    font-size: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }

  .label {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 60%;
  }

  .stepper-button {
    font-size: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }

  .label {
    font-size: 2em !important;
  }
}

@media only screen and (min-width: 1920px) {
  .apply-form-first-step-sub-div {
    display: flex;
    margin: auto;
    border: 3px solid;
    border-radius: 6em;
    box-shadow: -20px 20px 0px 0px rgba(0, 0, 0, 0.75);
    flex-direction: column;
    min-width: 60%;
  }


  .stepper-button {
    font-size: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
   }

  .label {
    font-size: 2em !important;
  }
}


.stepper-button > .material-icons {
  font-size: 1.2em !important;
}
